language: python
python:
  - "3.7"
before_install:
# command to install dependencies
install:
  - sudo apt-get update
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
  - bash miniconda.sh -b -p $HOME/miniconda
  - source "$HOME/miniconda/etc/profile.d/conda.sh"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  # Useful for debugging any issues with conda
  - conda info -a

  - conda create -q -n test-environment python=$TRAVIS_PYTHON_VERSION src/environment.yml
  - conda activate test-environment
  - python src/setup.py install
  - pip install pylint
# command to run tests
script:
  - python -m unittest discover src/test/
  - bash pylint_run.sh
notifications:
  slack: novelaneurote-ibx6025:3bhUUXZXz52ZXXTQCpiJyHkF