language: python
cache: false
python:
  - "3.7.4"
before_install:
# command to install dependencies
install:
  - sudo apt-get update
  - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
      wget https://repo.continuum.io/miniconda/Miniconda2-latest-Linux-x86_64.sh -O miniconda.sh;
    else
      wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
    fi
  - bash miniconda.sh -b -p $HOME/miniconda
  - source "$HOME/miniconda/etc/profile.d/conda.sh"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  - conda info -a

  - conda env create -q -n test-environment -f fl/environment.yml python=$TRAVIS_PYTHON_VERSION
  - conda activate test-environment
  - python setup.py install --single-version-externally-managed --record=record.txt
  - pip install pylint
  - chown -R $USER:$USER fl/test/

script:
  - bash pylint_run.sh
#  - python -m pytest fl/test/datamigration

after_success:
  - conda install conda-build anaconda-client conda-verify && bash conda_upload.sh
#  - test $TRAVIS_BRANCH = "master_release" && conda install conda-build anaconda-client conda-verify && bash conda_upload.sh

notifications:
  slack: novelaneurote-ibx6025:3bhUUXZXz52ZXXTQCpiJyHkF
